@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  position: fixed;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
}

::-moz-selection {
  background: #333;
  color: white;
}

::selection {
  background: #333;
  color: white;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: #fefefe;
  letter-spacing: 1.5px;
  position: fixed;
}

#page-container {
  min-height: 100vh;
  /* will cover the 100% of viewport */
  display: block;
  position: relative;
  margin-bottom: 50px;
}

#header {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100px;
  font-family: "Montserrat", sans-serif;
  top: 0;
}

.logo {
  margin-top: 45px;
  max-width: 205px;
  margin-left: 100px;
}

.back {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 21px;
  text-decoration: none;
  color: #333;
  font-size: 20px;
  text-transform: uppercase;
}

#links a:after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: transparent;
  -webkit-transition: width .5s ease, background-color .5s ease;
  transition: width .5s ease, background-color .5s ease;
}

#links a:hover:after {
  width: 100%;
  background: #333;
}

.link-me, .link-me2 {
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#links a:hover {
  color: #333;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer {
  height: 5px;
  width: 100%;
  text-align: center;
}

#about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  max-width: 100%;
  width: 100vw;
}

.portret {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

article {
  margin-left: 100px;
  margin-top: 50px;
}

.title-abt {
  font-size: 19px;
  color: #AFB1B0;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.description {
  line-height: 26px;
  max-width: 650px;
  font-size: 16px;
  letter-spacing: 1px;
}

.portret img {
  max-width: 250px;
}

#links {
  margin-top: 30px;
  letter-spacing: 1.5px;
}

#links a {
  font-size: 19px;
  color: #AFB1B0;
  font-weight: 400;
  text-decoration: none;
}

.link-me2 {
  margin-left: 50px;
}

.social-media {
  margin-bottom: 25px;
}

.copy-email {
  margin-bottom: 25px;
}

.insta {
  font-size: 28px;
  padding-left: 2px;
  font-weight: bold;
  color: #333;
}

.linked {
  margin: 0 15px;
}

.insta:hover {
  color: lightgray;
  -webkit-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

.sign {
  font-size: 14px;
  color: #4d4d4d;
  text-align: center;
  padding-bottom: 10px;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* doesn't matter what size of the page it always keep it in the center */
}

#email {
  font-size: 16px;
  text-decoration: none;
  color: #333;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.mailto-link {
  position: relative;
  padding: 8px 0;
}

.mailto-message {
  top: 1px;
  left: 50%;
  margin-bottom: -5px;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  position: absolute;
  display: none;
  width: auto;
  white-space: nowrap;
  font-size: 12px;
  background-color: #333;
  color: white;
  padding: 2px 6px;
  border-radius: 2px;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.mailto-message:after, .mailto-message:before {
  content: '';
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.mailto-message:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #333;
  border-width: 4px;
  margin-left: -4px;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.mailto-link:hover .mailto-message,
.mailto-link:focus .mailto-message,
.mailto-link:focus-within .mailto-message {
  display: block;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

@media (max-width: 600px) {
  .logo {
    margin: 35px;
  }
  #about-me {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
  .portret {
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 100%;
  }
  #about-me {
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  article {
    margin-left: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 0;
    padding: 35px;
  }
}

@media (max-width: 450px) {
  article {
    max-width: 400px;
    padding: 30px;
  }
  .portret img {
    max-width: 225px;
  }
}

@media (max-width: 350px) {
  .title-abt {
    font-size: 17px;
  }
  #links a {
    font-size: 17px;
  }
  .link-me2 {
    margin-left: 35px;
  }
  .description {
    font-size: 14px;
  }
  article {
    max-width: 300px;
    padding: 20px;
  }
  .portret img {
    max-width: 200px;
  }
}

@media (max-width: 280px) {
  .link-me2 {
    margin-left: 20px;
  }
}
/*# sourceMappingURL=about.css.map */